body{
  text-align: center;
  background-image: url("fondo.jpg");
  background-color: #175C9E;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Roboto;
  width: 400px;
  height: 450px;
  overflow: scroll;
  position: static;
  margin: 0 auto;
  /* Sombra interior */
  /* box-shadow: 0px 0px 500px rgb(53,158,132); */
}
h2{
	text-align: center;
  text-transform: uppercase;
  margin-bottom: 32px;
  overflow: hidden;
  font-family: AbeeZee;
  margin: 15px;
	color: #175C9E;
	font-size: 50px;
	font-weight: 50px;
	letter-spacing:3px;
}
label{
  outline: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 5px 0;
    background: rgba(0,0,0,.5);
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid #175C9E;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 25px;
    font-weight:normal;
    color:#FFFFFF;
}
.container input[type="text"]{
  outline: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 20px 0;
    background: rgba(0,0,0,.25);
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid #175C9E;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 14px;
    font-weight:normal;
    transition: all 3s ease-in-out;
}
.container input[type="password"]{
  outline: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 20px 0;
    background: rgba(0,0,0,.25);
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid #175C9E;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 14px;
    font-weight:normal;
    transition: all 3s ease-in-out;
}
.container input[type="password2"]{
  outline: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 20px 0;
    background: rgba(232, 240, 254);
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid #175C9E;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 14px;
    font-weight:normal;
    transition: all 3s ease-in-out;
}
input[type="submit"] {
    background: rgba(0,0,0,.25);
    border: none;
    width: 100%;
    font-size: 14px;
    padding: 10px 0;
    font-family: fantasy;
    margin-bottom: 16px;
    border-radius: 10px;
    transition: all 3s ease;
}

input[type="submit"]:hover {
    background: #FFFFFF;
}
input::placeholder {
  color: #175C9E;
  font-size: 1.2em;
  font-style: italic;
}